// ---------- => MOBILE
// ********** => MEDIA QUERIES: 1024px

// STYLE GENERAL

li {
  list-style-type: none;
}

@import "variable";

// ---------- HOME STYLE ----------

.containerPrincipalHome {
  background: {
    image: url("/images/bg-principal.webp");
    size: cover;
    position: center center;
  }
  .containerHome {
    padding: 40px 24px 96px 24px;

    .titleHome,
    .secondaryTitle {
      color: $whiteColor;
    }
    .titleHome {
      line-height: 40px;

      font: {
        family: $fontGilroy;
        size: 36px;
        weight: bold;
      }
    }
    .secondaryTitle {
      line-height: 28px;

      font: {
        size: 20px;
        weight: 600;
      }
    }
  }
}

// ---------- UTILITIES STYLE ----------

.containerPrincipalUtilities {
  padding: 80px 0;

  background-image: url("/images/bg-points.webp");

  .containerUtilities {
    padding: 0px 24px;
    margin-bottom: 50px;

    .blocksUtilities {
      display: flex;
      max-width: 576px;
      margin: 20px auto 0px;

      .logoUtilities {
        margin-right: 16px;
      }

      .firstTitle {
        color: $redColor;
      }

      .firstTitle,
      .secondTitle {
        font: {
          family: $fontPrincipal;
          size: 24px;
        }

        line-height: 32px;
      }
    }
    .paragrahUtilities {
      max-width: 576px;
      margin: 20px auto 0px;
      line-height: 28px;
      text-align: justify;
      opacity: 70%;

      font: {
        family: $fontSecondary;
        size: 20px;
      }
    }
  }
}

// ---------- BUTTON STYLE ----------

.containerButton {
  margin-top: 40px;

  .blockButton {
    text-align: center;

    border-radius: 8px;
    padding: 12px 32px;
    transition: transform 0.1s ease;
    max-width: 700px;
    margin: 14px auto;

    &:hover {
      transform: scale(1.05, 1.05);
      transition: transform 0.3s ease;
    }

    .buttonStyle {
      color: $whiteColor;
      line-height: 28px;
      text-transform: uppercase;

      font: {
        family: $fontPrincipal;
        size: 18px;
      }
    }
  }
}

// ---------- PLATEFORME ----------

.containerPlateform {
  width: 100%;
  padding-top: 80px;
  text-align: center;
  background: url("/images/bg-product-mobile.png");

  background-color: $blackColor;
  color: $whiteColor;

  .containerSubPlateform {
    margin-bottom: 80px;
    max-width: 1376px;
    padding: 0 64px;

    .containerImagesPlateformProduct {
      margin-top: 15px;

      .imagesPlateformProduct {
        width: 100%;
        height: 100%;
      }
    }

    .titlesPlateformProduct {
      font: {
        size: 30px;
        weight: 700;
      }
      line-height: 41px;
    }

    .paragraphsPlateformProduct {
      font: {
        family: $fontInter;
        size: 20px;
        weight: 400;
      }
      opacity: 0.7;

      text-align: justify;
    }

    .titlePrincipalPlateforme {
      text-align: center;
      font-size: 30px;
      line-height: 36px;
      font-family: $fontSecondary;
    }

    .containerTopPlateform {
      position: relative;
      padding: 0 24px;
    }

    .containerList {
      background-color: $redColor;
      padding: 16px 24px;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      position: relative;

      .chevronDownPlateform {
        position: absolute;
        right: 20px;
      }
    }

    .listPlateform {
      display: block;
      font: {
        family: $fontGilroy;
        weight: bolder;
        size: 18px;
      }
      line-height: 20px;
      text-transform: uppercase;
    }

    .containerButtonPlateform {
      padding: 0px 33px;
    }

    .containerUnderTablet {
      display: none;
    }
  }
  .containerImagesSlider {
    width: 112px;
    height: 64px;
    display: flex;
    align-items: center;
  }
  .containerSubtitleBack {
    margin: 0 24px;
    text-align: center;
    max-width: 1376px;

    .subtitleBackPlateform {
      text-transform: uppercase;
      font: {
        size: 20px;
        weight: 700px;
        family: $fontGilroy;
      }
      line-height: 28px;
    }

    .imagesSliderPlateforme {
      width: 112px;
      height: 64px;
    }
  }
  .flexPlateform {
    justify-content: center;
    display: flex;
  }
  .MaxWidtContainerPlateform {
    max-width: 672px;
  }
}

// --------- STYLE FOR DIFFERENT BUTTON ---------

.buttonPrimary {
  background-color: $redColor;
}

.buttonSecondary {
  border: 1px solid $redColor;
}

// ---------- SLIDER ---------

.swiper-button-disabled {
  display: none !important;
}
.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}
.swiper-wrapper {
  padding: 40px 0px !important;
}

// ---------- MODAL ---------

.customModal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: $whiteColor;
  color: $blackColor;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Autres styles si nécessaire */
}

// ********** MEDIA QUERIES **********

@include desktop-mini {
  // ********** HOME STYLE **********

  .containerPrincipalHome {
    .containerHome {
      .centerDesktop {
        width: 500px;
        margin: auto;
      }
      .titleHome {
        line-height: 48px;
        font-size: 48px;
      }
    }
  }

  // *********** UTILITIES STYLE **********
  .containerPrincipalUtilities {
    display: flex;
    padding: {
      right: 64px;
      left: 64px;
    }
  }

  // *********** PLATEFORM ************
  .containerPlateform {
    display: inline-block;

    .containerSubPlateform {
      display: inline-block;

      .containerButtonPlateform {
        justify-content: end;
      }
    }
    .MaxWidtContainerPlateform {
      max-width: 1376px;
      display: flex;
    }
    .ContainerTitleParagraphe {
      max-width: 512px;
    }
  }
}

@include desktop-down {
  // ---------- SLIDER ---------

  .swiper-wrapper {
    justify-content: center !important;
    padding: 48px 64px !important;
  }

  // ********** HOME STYLE ***********

  .containerPrincipalHome {
    .containerHome {
      padding: 160px 128px;

      .centerDesktop {
        width: auto;
      }
    }
  }

  // ********** PLATEFORM **********

  .sectionBackSubtitle {
    display: flex;
    justify-content: center;
  }

  // ********** BUTTON **********

  .containerButton {
    display: flex;
  }
  .containerButton {
    .blockButton {
      margin: 14px;
    }
  }
}

@include tableUp {
  .containerList {
    display: none !important;
  }

  .containerUnderTablet {
    background-color: $lowBlackColor;
    max-width: 936px;
    display: flex !important;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 48px auto;

    .containerTitleUnderTablet {
      height: 74px;
      display: flex;
      align-items: center;
    }
  }
  .containerTitleUnderTablet p {
    span {
      width: 150px;
      margin: 10px;
      display: block;
      text-transform: uppercase;

      font: {
        size: 18px;
        family: $fontGilroy;
        weight: 600;
      }
      line-height: 20px;
    }
  }
  .containerButton {
    margin-top: 0;
  }
  .containerPlateform {
    .containerSubtitleBack {
      .subtitleBackPlateform {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}
